<!DOCTYPE html>
<html>
<head>
  <title>Login</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>

<div class="input-container">
  <form action="{{ url_for('login') }}" method="post">
    <label size="60">Login:</label>
    <div>
      <input name="username" placeholder="Username">
      <input name="password" placeholder="Password" type="password">
    </div>
    <button type="btn primary-btn">Submit</button>
  </form>

  <form action="{{ url_for('open') }}" method="post">
    <button value="register" name="creds">Register</button>
  </form>

  <label>{{ message }}<label>

  </div>

  </html>
